body {
    background-color: #fccfb5;
    font-size: 16px;
}

h1 {
    font-size: 36px;
    color: #1d0000;
}

.encabezado {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafo {
    text-align: justify;
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 200;
}

#fondo {
    background-color: #aa3b3b;
    /* modificar el color a elección */
}
p a {  
    color: #08d4f8;  
    text-decoration: none;
    }
    